<!--Temporary file with all links to integrate with other pages-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form Data to PostgreSQL</title>
    </head>
    <body>
        <a href="/requests">All requests</a>
        <br></br>
        <a href="/form">Add a request</a>
        <br></br>
    </body>