<!DOCTYPE html>
<html lang="en">

<head>
    <title>eCare</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="eCare.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="index.js" defer></script>
</head>

<body>
    <header>
        <div class="logo_flex">
            <figure class="logo_image">
                <a href="/"><img src="photos/logo.png" alt="logo"></a>
            </figure>
            <h1 class="logo">eCare</h1>
        </div>
    <nav id="primary_nav">
        <ul class="primary_nav">
            <li class="pnav active"><a href="/"><button>Home</button></a></li>
            <li class="pnav"><a href="/male"><button>Male</button></a></li>
            <li class="pnav"><a href="/female"><button>Female</button></a></li>
            <li class="pnav"><a href="/form"><button>Form</button></a></li>
            <li class="pnav"><a href="/requests"><button>All Requests</button></a></li>
            <li class="pnav"><a href="/charityinformation"><button>Charity Information</button></a></li>
        </ul>
    </nav>
    </header>

    <main>
        <p id="chooseAvatar"><bold>Choose Your Avatar</bold></p>
        <div class="main-content-index">
            <a href="/male" class="button-link">
                <img src="photos/male.png" alt="Male">
                <p>Male</p>
            </a>
            <a href="/female" class="button-link">
                <img src="photos/female.png" alt="Female">
                <p>Female</p>
            </a>
        </div>
    </main>

    <footer>
        <small>
            <p>
                Copyright &copy; 2024 eCare <a href="mailto:teamsupport@gmail.com"> Team Support </a>
            </p>
            <nav>
                <ul class="snav">
                    <li><a href=""><img src="photos/facebook.png" alt="Facebook"></a></li>
                    <li><a href=""><img src="photos/x.png" alt="Twitter"></a></li>
                    <li><a href=""><img src="photos/instagram.png" alt="Instagram"></a></li>
                </ul>
            </nav>
        </small>
    </footer>
</body>

</html>